
<div class="row">
    <div class="col-md-3 col-xs-12" *ngFor='let item of menu'>
      <a routerLink="{{item.NombreRouter}}">

          <mk-box-small backgroundColor="light-blue">
              <mk-box-small-header>{{item.Title}}</mk-box-small-header>
              <mk-box-small-content></mk-box-small-content>
              <mk-box-small-footer>Ingresar aqui</mk-box-small-footer>
            </mk-box-small>


            <!--mk-box-small backgroundColor="light-blue" iconStyleClass="ion ion-pie-graph">
              <mk-box-small-content class="card-content">{{item.Title}}</mk-box-small-content>
            </mk-box-small-->
     </a>
    </div>
</div>


