
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3" *ngFor='let item of menu' (click)='menuOptionClick(item)'>
                    <div class="card card-default">
                        <div class="card-header">{{item.Title}}</div>
                        <div class="card-block">
                            <img src="{{item.Image}}" alt="Imagen">
                        </div>
                        <div class="card-footer">Ingresar aqui</div>
                    </div>
                    <br>
                  </div>
            </div>
        </div>
    </div>
 </div>


