<div class="container">
  <fieldset class="scheduler-border">
    <legend class="scheduler-border">Historial de pagos</legend>
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">Alumno</legend>
            <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label class="title-student-key">Clave</label>
                      <div class="place-student-key">
                          <span  class="student-key">{{student.key}}</span>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label class="title-student-key">Nombre</label>
                      <div class="place-student-key">
                          <span class="student-name">{{student.name}}</span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <table class="table-responsive">
                      <thead>
                        <th>Concepto</th>
                        <th>Pagado</th>
                        <th>Beca</th>
                      </thead>
                      <tbody>
                        <tr *ngFor=''>
  
                        </tr>
                      </tbody>
                  </table>
              </div>
            </div>
        </fieldset>
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Historial</legend>
            <div class="row">
              <div class="col-md-12">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-striped">
                    <thead>
                      <tr>
                        <th>Ciclo</th>
                        <th>División</th>
                        <th>Concepto</th>
                        <th>Monto del adeudo</th>
                        <th>Mes</th>
                        <th>Fecha del registro</th>
                        <th>Fecha de pago</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let payment of studentPayments">
                        <td>{{payment.}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
        </fieldset>
  </fieldset>
</div>
