<div class="loading" *ngIf='loading'>
    <img class="img-logo" src="/sites/SistemadeAdministracionEscolardev/SiteAssets/administracion-estudiantes/resources/images/loading.gif" alt="loading...">
  </div>
<div class="container">
  <fieldset class="scheduler-border">
    <legend class="scheduler-border">Historial de pagos</legend>
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">Alumno</legend>
            <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label class="title-student-key">Clave</label>
                      <div class="place-student-key">
                          <span  class="student-key">{{student.key}}</span>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label class="title-student-key">Nombre</label>
                      <div class="place-student-key">
                          <span class="student-name">{{student.name}}</span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <table class="table-responsive">
                      <thead>
                        <th>Concepto</th>
                        <th>Pagado hasta ahora</th>
                      </thead>
                      <tbody>
                        <tr *ngFor='let concept of summaryPayments'>
                            <td>{{concept.conceptName}}</td>
                            <td [ngClass]="{'pending-concepet-payment':!concept.isPayment, 'ready-concepet-payment':concept.isPayment}">{{concept.amount | currency}}</td>
                        </tr>
                      </tbody>
                  </table>
              </div>
            </div>
        </fieldset>
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Historial</legend>
            <div class="row">
              <div class="col-md-12">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-striped">
                    <thead>
                      <tr>
                        <th>Ciclo</th>
                        <th>División</th>
                        <th>Concepto</th>
                        <th>Monto del adeudo</th>
                        <th>Mes</th>
                        <th>Pagado</th>
                        <th>Fecha de pago</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let payment of studentPayments">
                        <td>{{payment.cycleName}}</td>
                        <td>{{stageSchool.title}}</td>
                        <td>{{payment.conceptName}}</td>
                        <td [ngClass]="{'pending-concepet-payment':!payment.isPayment, 'ready-concepet-payment':payment.isPayment}">{{payment.amount | currency}}</td>
                        <td>{{payment.monthName}}</td>
                        <td><span *ngIf='payment.isPayment'>Sí</span><span *ngIf='!payment.isPayment'>No</span></td>
                        <td>{{payment.paymentDate | date}}</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
        </fieldset>
  </fieldset>
</div>
