<div class="container">
    <div class="loading" *ngIf='loading'>
        <img class="img-logo" src="/sites/SistemadeAdministracionEscolardev/SiteAssets/administracion-estudiantes/resources/images/loading.gif" alt="loading...">
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="title-page">
            <h3>Asignar beca</h3>
          </div>
        </div>
      </div>
  <form [formGroup]="assingScholarshipForm" (ngSubmit)="onSubmit(templatesuccessAssingsScholarship)">
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Asignación de beca</legend>
      <div class="control-group">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Clave</label>
              <span class="student-key"> {{student.key}}</span>
            </div>
          </div>
          <div class="col-md-7">
            <div class="form-group">
              <label>Nombre </label>
              <span class="student-name"> {{student.name}}</span>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Ciclo </label>
              <span> {{cycle.title}}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>División </label>
            <span> {{stageSchool.title}}</span>
          </div>
          <div class="col-md-4">
            <label>Estatus del alumno </label>
            <span> {{selectedStudentStatus.title}}</span>
          </div>
          <div class="col-md-4">
            <label>Estatus escolar </label>
            <span> {{selectedSchoolStatus.title}}</span>
          </div>
        </div>
        <fieldset class="scheduler-border">
          <div class="row">
            <div class="col-md-12">
              Indique los montos asignados por beca a cada uno de los conceptos
            </div>
          </div>
          <div class="row" >
            <div class="col-md-8" >
                <table class="table-responsive" *ngIf='!isPercentage'>
                  <thead>
                    <th>Concepto</th>
                    <th>Costo del pago</th>
                    <th>Monto por pagar con beca</th>
                    <th>Porcentaje asignado de beca</th>
                  </thead>
                  <tbody>
                    <tr *ngFor='let ship of scholarshipListToSave'>
                      <td>
                        <label>{{ship.conceptName}}</label>
                      </td>
                      <td>
                          <input currencyMask autocomplete="off" [options]="{ prefix: '$ ', thousands: ',', decimal: '.', precision:0 }" matInput formControlName="conceptValue{{ship.conceptId}}" class="form-control scholarshipInput">
                      </td>
                      <td>
                          <input currencyMask autocomplete="off" [options]="{ prefix: '$ ', thousands: ',', decimal: '.', precision:0 }" matInput formControlName="conceptScholarship{{ship.conceptId}}" (keyup)="calculateScholarshipByValue(ship.conceptId)" class="form-control scholarshipInput">
                      </td>
                      <td>
                          <input currencyMask autocomplete="off" [options]="{ prefix: '', thousands: ',', decimal: '.', precision:0, suffix:'%' }" matInput formControlName="conceptPercentage{{ship.conceptId}}" class="form-control scholarshipInput">
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table class="table-responsive" *ngIf='isPercentage'>
                  <thead>
                    <th>Concepto</th>
                    <th>Costo</th>
                    <th>Porcentaje asignado de beca</th>
                    <th>Monto por pagar con beca</th>
                  </thead>
                  <tbody>
                    <tr *ngFor='let ship of scholarshipListToSave'>
                      <td>
                        <label>{{ship.conceptName}}</label>
                      </td>
                      <td>
                          <input currencyMask autocomplete="off" [options]="{ prefix: '$ ', thousands: '.', decimal: ',', precision:0 }" matInput formControlName="conceptValue{{ship.conceptId}}" class="form-control scholarshipInput">
                      </td>
                      <td>
                          <input currencyMask autocomplete="off" [options]="{ prefix: '', thousands: '.', decimal: ',', precision:0, suffix:'%' }" matInput formControlName="conceptPercentage{{ship.conceptId}}" (keyup)="calculateScholarshipByPorcentage(ship.conceptId)" class="form-control scholarshipInput">
                      </td>
                      <td>
                          <input currencyMask autocomplete="off" [options]="{ prefix: '$ ', thousands: '.', decimal: ',', precision:0 }" matInput formControlName="conceptScholarship{{ship.conceptId}}" class="form-control scholarshipInput">
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                      <mat-form-field>
                          <label>Día limite de pago para respetar la beca</label>
                          <mat-select formControlName='paymentDay' [(value)]="selectedDay" class="form-control">
                            <mat-option value="1">1</mat-option>
                            <mat-option value="2">2</mat-option>
                            <mat-option value="3">3</mat-option>
                            <mat-option value="4">4</mat-option>
                            <mat-option value="5">5</mat-option>
                            <mat-option value="6">6</mat-option>
                            <mat-option value="7">7</mat-option>
                            <mat-option value="8">8</mat-option>
                            <mat-option value="9">9</mat-option>
                            <mat-option value="10">10</mat-option>
                            <mat-option value="11">11</mat-option>
                            <mat-option value="12">12</mat-option>
                            <mat-option value="13">13</mat-option>
                            <mat-option value="14">14</mat-option>
                            <mat-option value="15">15</mat-option>
                            <mat-option value="16">16</mat-option>
                            <mat-option value="17">17</mat-option>
                            <mat-option value="18">18</mat-option>
                            <mat-option value="19">19</mat-option>
                            <mat-option value="20">20</mat-option>
                            <mat-option value="21">21</mat-option>
                            <mat-option value="22">22</mat-option>
                            <mat-option value="23">23</mat-option>
                            <mat-option value="24">24</mat-option>
                            <mat-option value="25">25</mat-option>
                            <mat-option value="26">26</mat-option>
                            <mat-option value="27">27</mat-option>
                            <mat-option value="28">28</mat-option>
                            <mat-option value="29">29</mat-option>
                            <mat-option value="30">30</mat-option>
                            <mat-option value="31">31</mat-option>
                          </mat-select>
                        </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                      <mat-form-field>
                          <label>Estatus de la beca</label>
                          <mat-select formControlName="statusControl" [(value)]='selectedStatus' class="form-control">
                              <mat-option value=1>Activa</mat-option>
                              <mat-option value=2>Cancelada</mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            </div>

        </fieldset>
      </div>
    </fieldset>
    <div class="row">
      <div class="col-md-12">
          <div class="form-group">
              <div class="botonera">
                <button type="button" (click)='backMenu()' class="btn btn-default">Salir</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </div>
      </div>

      </div>
  </form>
  <ng-template #templatesuccessAssingsScholarship>
    <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeSuccessAssingScholarshipModal()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"> Modificación Beca </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                La beca para el alumno {{student.name}} fue modificada con exito.
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-cr-other" data-dismiss="modal" (click)="closeSuccessAssingScholarshipModal()">Ok</button>
    </div>
</ng-template>
</div>
