<div class="container">
  <form [formGroup]="assingScholarshipForm" (ngSubmit)="onSubmit()">
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Asignación de beca</legend>
      <div class="control-group">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Clave </label>
              <span>{{student.key}}</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Nombre </label>
              <span>{{student.name}}</span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Ciclo </label>
              <span>{{cycle.title}}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>División </label>
            <span>{{stageSchool.title}}</span>
          </div>
          <div class="col-md-4">
            <label>Estatus del alumno </label>
            <span>{{selectedStudentStatus.title}}</span>
          </div>
          <div class="col-md-4">
            <label>Estatus escolar </label>
            <span>{{selectedSchoolStatus.title}}</span>
          </div>
        </div>
        <fieldset class="scheduler-border">
          <div class="row">
            <div class="col-md-12">
              Indique los montos asignados por beca a cada uno de los conceptos
            </div>
          </div>
          <div class="row" >
            <div class="col-md-8" >
                <table class="table-responsive" *ngIf='!isPercentage'>
                  <thead>
                    <th>Concepto</th>
                    <th>Monto del pago</th>
                    <th>Monto de la beca</th>
                    <th>Porcentaje</th>
                  </thead>
                  <tbody>
                    <tr *ngFor='let ship of scholarshipListToSave'>
                      <td>
                        <label>{{ship.conceptName}}</label>
                      </td>
                      <td>
                          <input currencyMask autocomplete="off" [options]="{ prefix: '$ ', thousands: '.', decimal: ',', precision:0 }" matInput formControlName="conceptValue{{ship.conceptId}}" class="form-control scholarshipInput">
                      </td>
                      <td>
                          <input currencyMask autocomplete="off" [options]="{ prefix: '$ ', thousands: '.', decimal: ',', precision:0 }" matInput formControlName="conceptScholarship{{ship.conceptId}}" (keyup)="calculateScholarshipByValue(ship.conceptId)" class="form-control scholarshipInput">
                      </td>
                      <td>
                          <input currencyMask autocomplete="off" [options]="{ prefix: '', thousands: '.', decimal: ',', precision:0, suffix:'%' }" matInput formControlName="conceptPercentage{{ship.conceptId}}" class="form-control scholarshipInput">
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table class="table-responsive" *ngIf='isPercentage'>
                  <thead>
                    <th>Concepto</th>
                    <th>Monto del pago</th>
                    <th>Porcentaje</th>
                    <th>Monto de la beca</th>
                  </thead>
                  <tbody>
                    <tr *ngFor='let ship of scholarshipListToSave'>
                      <td>
                        <label>{{ship.conceptName}}</label>
                      </td>
                      <td>
                          <input currencyMask autocomplete="off" [options]="{ prefix: '$ ', thousands: '.', decimal: ',', precision:0 }" matInput formControlName="conceptValue{{ship.conceptId}}" class="form-control scholarshipInput">
                      </td>
                      <td>
                          <input currencyMask autocomplete="off" [options]="{ prefix: '', thousands: '.', decimal: ',', precision:0, suffix:'%' }" matInput formControlName="conceptPercentage{{ship.conceptId}}" (keyup)="calculateScholarshipByPorcentage(ship.conceptId)" class="form-control scholarshipInput">
                      </td>
                      <td>
                          <input currencyMask autocomplete="off" [options]="{ prefix: '$ ', thousands: '.', decimal: ',', precision:0 }" matInput formControlName="conceptScholarship{{ship.conceptId}}" class="form-control scholarshipInput">
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                      <mat-form-field>
                          <label>Día limite de pago para respetar la beca</label>
                          <mat-select formControlName='paymentDay' [(value)]="selectedDay" class="form-control">
                            <mat-option value=1>1</mat-option>
                            <mat-option value=2>2</mat-option>
                            <mat-option value=3>3</mat-option>
                            <mat-option value=4>4</mat-option>
                            <mat-option value=5>5</mat-option>
                            <mat-option value=6>6</mat-option>
                            <mat-option value=7>7</mat-option>
                            <mat-option value=8>8</mat-option>
                            <mat-option value=9>9</mat-option>
                            <mat-option value=9>10</mat-option>
                          </mat-select>
                        </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                      <mat-form-field>
                          <label>Estatus de la beca</label>
                          <mat-select formControlName="statusControl" [(value)]='selectedStatus' class="form-control">
                              <mat-option value=1>Activa</mat-option>
                              <mat-option value=2>Cancelada</mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            </div>

        </fieldset>
      </div>
    </fieldset>
    <div class="row">
        <div class="form-group">
          <div class="buttons-app">
            <button type="button" class="btn btn-default">Salir</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
  </form>
</div>
