<div class="row">
    <div class="col-md-12 header">
        <div class="row">
            <div class="col-md-2 logo">
                <a class="navbar-brand" href="#">
                    <img class="img-logo" src="/sites/SistemadeAdministracionEscolardev/SiteAssets/administracion-estudiantes/resources/images/logo.jpg" alt="Bootstrap Logo" height="25px">
                </a>
            </div>
            <div class="col-md-10 welcome">
                <span class="welcome-user">Bienvenido {{userName}}</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 content">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
            <section id="footer">
                    <div class="container">	
                        <div class="row">
                            <div class="col-md-12 text-center text-white">
                                <p><u><a href="http://itprove.com.mx/">Hacemos realidad todos sus sueños.  </a></u>Ponte en contacto con nosotros para empezar a explorar las soluciones que tu negocio necesita. ventas@itprove.com.mx</p>
                                <p class="h6">© 2018 - Todos los derechos reservados.<a class="text-green ml-2" href="http://itprove.com.mx/" target="_blank">ITProve</a></p>
                            </div>
                            
                        </div>	
                    </div>
                </section>
    </div>
  
</div>