<table datatable class="table table-responsive table-hover">
  <thead>
      <tr>
        <th></th>
        <th>Clave</th>
        <th>Nombre</th>
        <th>Estatus</th>
        <th>División</th>
        <th>Grado</th>
        <th>Grupo</th>
      </tr>
  </thead>
  <tbody>
      <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-1" aria-expanded="false" aria-controls="group-of-rows-1">
          <td><i class="fa fa-plus" aria-hidden="true"></i></td>
          <td>data</td>
          <td>data</td>  
          <td>data</td>
          <td>data</td>
          <td>data</td>  
          <td>data</td>
      </tr>
  </tbody>
  <tbody id="group-of-rows-1" class="collapse">
      <tr>
          <td>- child row</td>
          <td>data 1</td>
          <td>data 1</td>  
          <td>data 1</td>
          <td>data 1</td>
          <td>data 1</td>  
          <td>data 1</td>
      </tr>
      <tr>
          <td>- child row</td>
          <td>data 1</td>
          <td>data 1</td>  
          <td>data 1</td>
          <td>data 1</td>
          <td>data 1</td>  
          <td>data 1</td>
      </tr>
  </tbody>
  <tbody>
      <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-2" aria-expanded="false" aria-controls="group-of-rows-2">
          <td><i class="fa fa-plus" aria-hidden="true"></i></td>
          <td>data</td>
          <td>data</td>  
          <td>data</td>
          <td>data</td>
          <td>data</td>  
          <td>data</td>
      </tr>
  </tbody>
  <tbody id="group-of-rows-2" class="collapse">
      <tr>
          <td>- child row</td>
          <td>data 2</td>
          <td>data 2</td>  
          <td>data 2</td>
          <td>data 2</td>
          <td>data 2</td>  
          <td>data 2</td>
      </tr>
      <tr>
          <td>- child row</td>
          <td>data 2</td>
          <td>data 2</td>  
          <td>data 2</td>
          <td>data 2</td>
          <td>data 2</td>  
          <td>data 2</td>
      </tr>
  </tbody>
</table>
