
<div class="container">
    <div class="loading" *ngIf='loading'>
        <img class="img-logo" src="/sites/SistemadeAdministracionEscolardev/SiteAssets/administracion-estudiantes/resources/images/loading.gif" alt="loading...">
      </div>
      <div class="row">
          <div class="col-md-12">
            <div class="title-page">
              <h3>Buscar alumno</h3>
            </div>
          </div>
        </div>
  <div class="row">
    <div class="col-md-12">
      <div class="student-name">
        <mat-form-field class="example-full-width">
            <label>Alumno</label>
            <input type="text"  aria-label="Number" matInput [formControl]="studentControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let student of filteredStudents | async" [value]="student.name">
                {{student.key}} {{student.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="botonera">
          <button type="button" class="btn btn-primary" (click)="searchStudent()">Buscar</button>
      </div>
    </div>
  </div>
</div>
