

<div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="title-page">
            <h3>Lista alumnos</h3>
          </div>
        </div>
      </div>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-striped">
        <thead>
          <tr>
            <th>Clave</th>
            <th>Nombre</th>
            <th>Estatus</th>
            <th>División</th>
            <th>Grado</th>
            <th>Grupo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td>{{ student.key }}</td>
            <td>{{ student.name }}</td>
            <td>{{student.status}}</td>
            <td>{{student.division}}</td>
            <td>{{student.grade}}</td>
            <td>{{student.group}}</td>
          </tr>
        </tbody>
      </table>
</div>
